<%= form_tag({:action => :send_password_email}) do -%>
    <p>Enter your email address and we'll send you an email with a link to create
        a new password.</p>

	<p><label for="password">Email Address</label>
	<%= text_field_tag 'email', params[:email] %>	</p>
  <button type="submit"><span>Send me a reset link</span></button>
<%- end -%>

<script type="text/javascript" lanugage="javascript">
  $(function() {
    $('#email').focus();
  });
</script>